{% extends 'base.html' %}
{% block content %}
{% include 'components/navigation-bar.html' %}

<div class="container mx-auto mt-8">
    <div class="bg-gray-100 rounded-lg shadow-md p-6 flex justify-between items-center">
        <div>
            <h1 class="text-3xl font-bold">Hi, {{ request.user.username }}!</h1>
            <p class="text-gray-600">Last login: {{ request.user.last_login|date:"d M Y H:i" }}</p>
            <p class="text-blue-500 mt-4">Berikut adalah riwayat promo yang sudah kamu buat.</p>
        </div>

        <div class="bg-white p-4 rounded-lg shadow-md text-center">
            <h2 class="text-xl font-bold mb-2">Total Kupon yang Telah Diredeem oleh Visitor</h2>
            <p class="text-gray-600"><strong id="total-redeemed">{{ total_redeemed }}</strong> kupon diredeem dari promo yang kamu buat.</p>
        </div>
    </div>

    <div class="bg-white mt-6 rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-bold mb-4">Riwayat Promo</h2>
        <ul>
            {% for history in user_history %}
            <li class="border-b border-gray-300 py-2">
                <div>
                    <p class="font-semibold">{{ history.title }}</p>
                    <p class="text-sm text-gray-600">{{ history.description }}</p>
                    <p class="text-sm text-gray-600">Diskon: {{ history.discount_percentage }}%</p>
                    <p class="text-sm text-gray-600">Kode Promo: {{ history.promo_code }}</p>
                    <p class="text-sm text-gray-600">Tanggal Mulai: {{ history.start_date|date:"d M Y" }}</p>
                    <p class="text-sm text-gray-600">Tanggal Berakhir: {{ history.end_date|date:"d M Y" }}</p>
                    <p class="text-sm text-gray-600">Dibuat Pada: {{ history.created_at|date:"d M Y H:i" }}</p>
                <div class="flex space-x-2">
                    <form action="{% url 'promo:delete_history' history.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                            Delete
                        </button>
                    </form>
                </div>
            </li>
            {% empty %}
                <li class="text-center text-gray-500">Kamu belum membuat promo apapun.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function updateTotalRedeemed() {
        fetch("{% url 'promo:get_total_redeemed' %}")
        .then(response => response.json())
        .then(data => {
            document.getElementById('total-redeemed').textContent = data.total_redeemed;
        });
    }

    setInterval(updateTotalRedeemed, 10000);
</script>

{% endblock content %}
