
<footer class="block">
    <!-- Container -->
    <div class="py-16 md:py-20 mx-auto w-full max-w-7xl px-5 md:px-10">
      <!-- Component -->
      <div class="flex-col flex items-center">
        <div class="mb-8 mt-8 border-b border-gray-300 w-48"></div>
        <a href="{% url 'main:home' %}" class="mb-8 inline-block max-w-full text-black">
          <h2 class="mb-8 text-3xl font-bold md:text-5xl lg:mb-14"> Bandung Counture</h2>  
        </a>
        <div class="text-center font-semibold">
          <a href="{% url 'main:home' %}" class="inline-block px-6 py-2 font-normal text-black transition hover:text-blue-600"> Home </a>
          <a href="{% url 'stores:show' %}" class="inline-block px-6 py-2 font-normal text-black transition hover:text-blue-600"> Stores </a>
          <a href="#" class="inline-block px-6 py-2 font-normal text-black transition hover:text-blue-600"> Promo </a>
          <a href="#" class="inline-block px-6 py-2 font-normal text-black transition hover:text-blue-600"> Wishlist </a>
          <a href="{% url 'forum:show' %}" class="inline-block px-6 py-2 font-normal text-black transition hover:text-blue-600"> Forum </a>
        </div>
        <div class="mb-8 mt-8 border-b border-gray-300 w-48"></div>
        <p class="text-sm sm:text-base"> © Copyright Bandung Couture. All rights reserved. </p>
      </div>
    </div>
  </footer>