<div class="bg-black h-16 flex items-center justify-center select-none text-white">
    <div class="text-2xl ml-4 mr-10">Bandung Couture</div>
    <a href="{% url 'main:home' %}" class="navigation-buttons w-32 h-9 rounded cursor-pointer mx-5 flex items-center justify-center hover:bg-gray-800">Home</a>
    <a href="{% url 'stores:show' %}" class="navigation-buttons w-32 h-9 rounded cursor-pointer mx-5 flex items-center justify-center hover:bg-gray-800">Stores</a>
    <a href="" class="navigation-buttons w-32 h-9 rounded cursor-pointer mx-5 flex items-center justify-center hover:bg-gray-800">Promo</a>
    <a href="" class="navigation-buttons w-32 h-9 rounded cursor-pointer mx-5 flex items-center justify-center hover:bg-gray-800">Wishlist</a>
    <a href="{% url 'forum:show' %}" class="navigation-buttons w-32 h-9 rounded cursor-pointer mx-5 flex items-center justify-center hover:bg-gray-800">Forum</a>
    <a href="{% url 'account:login' %}" class="navigation-buttons w-32 h-9 rounded cursor-pointer mx-5 flex items-center justify-center bg-red-700">Logout</a>
</div>