{% load static %}
<div class="h-40 w-[48%] bg-gray-200 flex rounded-lg mx-[1%]">
    <div class="img-section h-full w-40 flex justify-center items-center flex-shrink-0">
        <img src="{% static 'images/dummy-store.jpg' %}" class="w-[90%] h-[90%]">
    </div>
    <div class="m-2 text-section flex flex-col flex-grow">
        <div class="h-[30%] overflow-hidden">
            <h1 class="text-3xl">{{ store.brand }}</h1>
        </div>
        <div class="h-[25%] overflow-hidden">
            <p class="text-xs">{{ store.description }}</p>
        </div>
        <div class="h-[20%] overflow-hidden">
            <p class="text-s">{{ store.address }}</p>
        </div>

        <div class="flex h-[25%] overflow-hidden">
            {% for category in store.category.all %}
                <div class="bg-black text-white w-[23%] mr-[2.2%] rounded flex flex-shrink-0 justify-center items-center">
                    <p>{{ category }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>